GraphXSample2/bin/Debug/GraphX.Controls.dll
GraphXSample2/bin/Debug/GraphX.PCL.Common.dll
GraphXSample2/bin/Debug/GraphX.PCL.Logic.dll
GraphXSample2/bin/Debug/GraphXSample2.exe
GraphXSample2/bin/Debug/GraphXSample2.exe.config
GraphXSample2/bin/Debug/GraphXSample2.pdb
GraphXSample2/bin/Debug/GraphXSample2.vshost.exe
GraphXSample2/bin/Debug/GraphXSample2.vshost.exe.config
GraphXSample2/bin/Debug/QuickGraph.Data.dll
GraphXSample2/bin/Debug/QuickGraph.Data.xml
GraphXSample2/bin/Debug/QuickGraph.dll
GraphXSample2/bin/Debug/QuickGraph.Graphviz.dll
GraphXSample2/bin/Debug/QuickGraph.Graphviz.xml
GraphXSample2/bin/Debug/QuickGraph.Serialization.dll
GraphXSample2/bin/Debug/QuickGraph.Serialization.xml
GraphXSample2/bin/Debug/QuickGraph.xml
GraphXSample2/obj/Debug/App.g.cs
GraphXSample2/obj/Debug/App.g.i.cs
GraphXSample2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GraphXSample2/obj/Debug/GeneratedInternalTypeHelper.g.cs
GraphXSample2/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
GraphXSample2/obj/Debug/GraphXSample2.csproj.FileListAbsolute.txt
GraphXSample2/obj/Debug/GraphXSample2.csproj.GenerateResource.Cache
GraphXSample2/obj/Debug/GraphXSample2.exe
GraphXSample2/obj/Debug/GraphXSample2.g.resources
GraphXSample2/obj/Debug/GraphXSample2.pdb
GraphXSample2/obj/Debug/GraphXSample2.Properties.Resources.resources
GraphXSample2/obj/Debug/GraphXSample2_MarkupCompile.cache
GraphXSample2/obj/Debug/GraphXSample2_MarkupCompile.lref
GraphXSample2/obj/Debug/MainWindow.baml
GraphXSample2/obj/Debug/MainWindow.g.cs
GraphXSample2/obj/Debug/MainWindow.g.i.cs
GraphXSample2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GraphXSample2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GraphXSample2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/GraphX.2.3.3.0/GraphX.2.3.3.0.nupkg
packages/GraphX.2.3.3.0/lib/net40-client/GraphX.Controls.dll
packages/GraphX.2.3.3.0/lib/net40-client/GraphX.PCL.Common.dll
packages/GraphX.2.3.3.0/lib/net40-client/GraphX.PCL.Logic.dll
packages/GraphX.2.3.3.0/lib/netcore451/GraphX.Controls.dll
packages/GraphX.2.3.3.0/lib/netcore451/GraphX.PCL.Common.dll
packages/GraphX.2.3.3.0/lib/netcore451/GraphX.PCL.Logic.dll
packages/GraphX.2.3.3.0/lib/portable-win+net4+sl5+wp8+win8+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/GraphX.PCL.Common.dll
packages/GraphX.2.3.3.0/lib/portable-win+net4+sl5+wp8+win8+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/GraphX.PCL.Logic.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/CodeContracts/QuickGraph.Contracts.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/CodeContracts/QuickGraph.Data.Contracts.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/CodeContracts/QuickGraph.Graphviz.Contracts.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/CodeContracts/QuickGraph.Serialization.Contracts.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/QuickGraph.Data.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/QuickGraph.Data.XML
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/QuickGraph.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/QuickGraph.Graphviz.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/QuickGraph.Graphviz.XML
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/QuickGraph.Serialization.dll
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/QuickGraph.Serialization.XML
packages/QuickGraphPCL.3.6.61114.2/lib/net40-client/QuickGraph.XML
packages/QuickGraphPCL.3.6.61114.2/lib/portable-win+net4+sl5+wp8+win8+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/QuickGraph.dll
packages/QuickGraphPCL.3.6.61114.2/lib/portable-win+net4+sl5+wp8+win8+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/QuickGraph.Graphviz.dll
packages/QuickGraphPCL.3.6.61114.2/lib/portable-win+net4+sl5+wp8+win8+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/QuickGraph.Graphviz.XML
packages/QuickGraphPCL.3.6.61114.2/lib/portable-win+net4+sl5+wp8+win8+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/QuickGraph.XML
packages/QuickGraphPCL.3.6.61114.2/QuickGraphPCL.3.6.61114.2.nupkg
